<section class="users-list">
  <h3 class="users-list__title">Клиенты</h3>

  <div class="users-list__content-wrapper">
    <!-- Контрольная панель -->
    <div class="users-list__control-panel">
      <button (click)="toggleUserDialogVisibilityState(true)">+</button>
      |
      <button
        [disabled]="!selectedUsers.length"
        (click)="confirmUsersDelete($event)"
      >
        X
      </button>
    </div>
    <!-- Cписок пользователей -->
    <app-users-list-table
      *ngIf="users.length"
      [users]="users"
      (editUserEvent)="
        setEditableUser($event); toggleUserDialogVisibilityState(true)
      "
      (usersSelectionEvent)="setSelectedUsers($event)"
    ></app-users-list-table>
  </div>
</section>

<app-add-user-dialog
  *ngIf="isAddUserDialogVisible"
  [isVisible]="isAddUserDialogVisible"
  (closeEvent)="toggleUserDialogVisibilityState(false)"
  (createUserEvent)="createUser($event)"
  (updateUserEvent)="updateUser($event)"
  [userData]="editableUserData"
>
</app-add-user-dialog>

<p-confirmDialog />
